@import "./assets/styles/antd-reset.less";

:root {
  --color-white: #fff;
  --color-pink: #ff6699;
  --color-pink-hover: #ff70a3;
  --color-pink-active: #e15584;
  --color-pink-disable: #ff669980;
  --color-pink-bg: #fff6f9;
  --color-blue: #00aeec;
  --color-blue-hover: #24c1f9;
  --color-blue-active: #0090c3;
  --color-blue-disable: #00aeec80;
  --color-blue-bg: #f6fdff;
  --color-red: #f85a54;
  --color-red-hover: #ff7873;
  --color-red-active: #d94640;
  --color-red-disable: #fbaca3;
  --color-red-bg: #ffece8;
  --color-green: #2ac864;
  --color-green-hover: #3ce47a;
  --color-green-active: #009a29;
  --color-green-disable: #7be188;
  --color-green-bg: #e8ffea;
  --color-orange: #ff7f24;
  --color-orange-hover: #ff9a2e;
  --color-orange-active: #d25f00;
  --color-orange-disable: #ffcf8b;
  --color-orange-bg: #fff7e8;
  --color-black: #000000;
  --color-bg1: #fff;
  --color-bg2: #f5f7f9;
  --color-bg3: #eff2f5;
  --color-text1: #18191c;
  --color-text2: #61666d;
  --color-text3: #9499a0;
  --color-text4: #c9ccd0;
  --color-link: #008ac5;
  --color-border-light: #f1f2f3; //弱化描边
  --color-border-regular: #e3e5e7; //一般描边
  --color-border-bold: #c9ccd0; //通常用于按钮描边
  --border-radius: 8px;
  --border-radius-s: 4px;
  --font-h1: 24px;
  --font-h2: 18px;
  --font-h3: 16px;
  --font-h4: 14px;
  --font-h5: 13px;
  --font-sm: 12px;
}
:root {
  --antd-black: #18191c;
  --antd-white: #fff;
  --antd-gray1: #f6f7f8;
  --antd-gray2: #f1f2f3;
  --antd-gray3: #e3e5e7;
  --antd-gray4: #dcdee0;
  --antd-gray5: #c9ccd0;
  --antd-gray6: #9499a0;
  --antd-gray7: #61666d;
  --antd-gray8: #18191c;
  --antd-red: #f85a54;
  --antd-blue: #00aeec;
  --antd-orange: #ff7f24;
  --antd-orange-dark: #d25f00;
  --antd-orange-light: #fff7e8;
  --antd-green: #2ac864;
  --antd-primary-color: #00aeec;
  --antd-success-color: #2ac864;
  --antd-danger-color: #f85a54;
  --antd-warning-color: #ff7f24;
  --antd-text-color: #18191c;
  --antd-text-color2: #61666d;
  --antd-text-color3: #9499a0;
  --antd-text-link-color: #008ac5;
  --antd-active-color: #c9ccd0;
  --antd-background-color: #f5f7f9;
  --antd-border-radius-lg: 8px;
  --antd-border-radius-md: 8px;
  --antd-border-radius-sm: 4px;
  
  --antd-padding-lg: 16px;
  --antd-padding-xl: 16px;
  --antd-line-height-md: 22px;
  --antd-line-height-lg: 24px;
  --antd-button-mini-height: 22px;
  --antd-button-small-height: 32px;
  --antd-button-default-height: 40px;
  --antd-button-large-height: 40px;
  --antd-button-border-radius: 4px;
  --antd-button-warning-background-color: #ff7f24;
  --antd-button-warning-border-color: #ff7f24;
  --antd-button-danger-border-color: #f85a54;
  --antd-button-danger-background-color: #f85a54;
  --antd-button-success-border-color: #2ac864;
  --antd-button-success-background-color: #2ac864;
  --antd-button-primary-border-color: #00aeec;
  --antd-button-primary-background-color: #00aeec;
  --antd-button-default-color: #18191c;
  --antd-button-default-background-color: #fff;
  --antd-button-default-border-color: #e3e5e7;
  --antd-tabs-default-color: #00aeec;
  --antd-tabs-bottom-bar-color: #00aeec;
  --antd-tab-disabled-text-color: #9499a0;
  --antd-tab-active-text-color: #00aeec;
  --antd-tab-text-color: #9499a0;
  --antd-tabs-bottom-bar-width: 24px;
  --antd-tree-select-item-active-color: #00aeec;
  --antd-sidebar-selected-border-color: #00aeec;
  --antd-overlay-background-color: rgba(0, 0, 0, 0.4);
  --antd-cell-font-size: 14px;
  --antd-cell-label-font-size: 14px;
  --antd-cell-border-color: #f1f2f3;
  --antd-cell-horizontal-padding: 8px;
  --antd-cell-vertical-padding: 8px;
  --antd-cell-active-color: #f1f2f3;
  --antd-cell-group-background-color: rgba(0, 0, 0, 0);
  --antd-cell-group-title-padding: 0;
  --antd-dialog-confirm-button-text-color: #00aeec;
  --antd-dialog-has-title-message-text-color: #8c8c8c;
  --antd-dialog-header-padding-top: 20px;
  --antd-dialog-border-radius: 8px;
  --antd-dialog-button-height: 46px;
  --antd-checkbox-size: 15px;
  --antd-checkbox-label-color: #666;
  --antd-dropdown-menu-height: 32px;
  --antd-dropdown-menu-background-color: none;
  --antd-dropdown-menu-box-shadow: none;
  --antd-dropdown-menu-title-font-size: 14px;
  --antd-dropdown-menu-title-active-text-color: #00aeec;
  --antd-collapse-item-content-padding: 0;
  --antd-collapse-item-content-background-color: rgba(0, 0, 0, 0);
  --antd-collapse-item-content-text-color: #18191c;
  --antd-skeleton-row-height: 20px;
  --antd-collapse-item-content-line-height: 20px;
  --antd-divider-text-color: var(--color-text3);

  --antd-gray2: #f1f2f3;
  --antd-background-color: #fff;
  --antd-border-color: #e8e8e8;
}

body, html {
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: var(--antd-background-color);
  font-size: 14px;
  font-family: PingFang SC, Hiragino Sans GB, 'Segoe UI', SegoeUI, 'Microsoft YaHei', '微软雅黑', Helvetica Neue, Helvetica, Arial, sans-serif;
}
